@model PetAdoption_Db.Models.Favorite

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background: #FDF7E4;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(0,0,0);
        background-color: rgb(0,0,0,0.4);
        color: white;
        text-align: center;
    }

    .back_list {
        color: #007bff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 15px 10px 0;
        margin-left: 0;
        border-radius: 5px;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
    }

        .back_list:hover {
            color: #0056b3;
            text-decoration: underline;
        }

    #create_button {
        margin-top: 15px
    }
</style>

<h1>Create</h1>

<h4>Favorite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetId" class="control-label">Pet Breed</label>
                <select asp-for="PetId" class ="form-control" asp-items="ViewBag.PetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Username</label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="create_button"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back_list">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
